extends ./layout/index

block slider 
    .slider 
        h1 Rio de Janeiro
        em aventura

block contenido
    main.container.mt-5 
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5 
            .col-md-6 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dapibus vehicula lectus ut tristique. Nullam dictum nisi eu velit efficitur sagittis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent bibendum sed nisi non lobortis. Sed odio odio, efficitur sed leo id, iaculis dapibus urna. 

                p Duis quis quam sed ligula scelerisque auctor. Etiam eros turpis, condimentum id nisl sit amet, venenatis aliquet dui. Suspendisse potenti. Aliquam eget ipsum sem. Vivamus vulputate posuere odio sit amet gravida. Proin posuere elit at velit commodo, ac interdum risus consectetur. Fusce mauris risus, luctus vel tristique et, ullamcorper a risus. 

            .col-md-6
                img(src="/img/inicio_nosotros.jpg" alt="imagen nosotros" class="img-fluid")

        include ./layout/bloque_viajes

    .descuento
        .container 
            .row 
                .col-md-6
                    .contenido 
                        h3 5% de Descuento 
                        p.titulo Viaje a Canada 
                        p.fecha 20 de Marzo de 2022 - 28 de Marzo de 2022
                        p.precio $2500 €

    .container  

        h2.mt-5.text-center Testimoniales
        blockquote.text-center Lee sobre nuestros clientes y sus experiencias 

        include ./layout/bloque_testimoniales


