extends ./layout/index.pug

block contenido
    main.container.mt-5 
        .row
            .col-md-5
                img(src="img/nosotros.jpg" alt="imagen sobre nosotros" class="img-fluid")  
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec tortor a velit placerat fermentum efficitur eleifend sapien. Sed feugiat auctor convallis. Ut sit amet imperdiet felis. Quisque tempus augue eget vestibulum bibendum. Suspendisse nunc ipsum, vulputate eu scelerisque a, luctus a lacus. Aliquam tempus, nibh eu feugiat bibendum, ipsum orci elementum tellus, nec bibendum tellus libero ac quam. 

                p Sed hendrerit sit amet lacus quis ullamcorper. Duis in massa ante. Nulla malesuada dolor et tellus lobortis euismod. Vivamus commodo dapibus tincidunt. Etiam luctus lectus a massa gravida tempus. Nulla lobortis iaculis iaculis. Nam sollicitudin augue odio, vitae lacinia purus accumsan ac.

                p Morbi faucibus enim nec nunc egestas, porttitor convallis risus fermentum. Duis eget libero lectus. Curabitur tincidunt neque ut pharetra dictum. Pellentesque tincidunt laoreet eros sed faucibus. Mauris finibus, metus vitae tempor feugiat, justo sem gravida ante, vitae bibendum lorem augue vitae neque. Phasellus auctor, dolor in maximus pretium, metus elit cursus ex, fringilla consequat felis metus non ligula. Cras auctor augue vel mi semper, convallis tristique felis bibendum. Donec rutrum, neque et gravida lobortis, massa eros luctus justo, a consectetur augue quam vel velit.

    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg" alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Cras auctor augue vel mi semper, convallis tristique felis bibendum. Donec rutrum, neque et gravida lobortis, massa eros luctus justo, a consectetur augue quam vel velit.

                .col-md-4
                    img(src="img/icono_destinos.svg" alt="icono destinos" class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Cras auctor augue vel mi semper, convallis tristique felis bibendum. Donec rutrum, neque et gravida lobortis, massa eros luctus justo, a consectetur augue quam vel velit.

                .col-md-4
                    img(src="img/icono_precios.svg" alt="icono precios" class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios
                    p Cras auctor augue vel mi semper, convallis tristique felis bibendum. Donec rutrum, neque et gravida lobortis, massa eros luctus justo, a consectetur augue quam vel velit. 