extends ./layout/index.pug

block contenido
    main.container.mt-5 
        h1.text-center.mt-5 #{pagina}


        include ./layout/bloque_testimoniales


    .row

        .col-md-12
            h2.d-block.w-100.text-center Agrega un testimonial


            if (errores)
                each error in errores
                    .alert.col.alert-danger.text-center= error.mensaje

        .row.col.justify-content-center 
            .col-md-8 
                form(action="/testimoniales" method="POST") 
                    .form-group 
                        label(for="nombre") Nombre
                        input#nombre(type="text" placeholder="Tu nombre" name="nombre" class="form-control" value= nombre)

                    .form-group 
                        label(for="email") Correo Electrónico
                        input#email(type="text" placeholder="Tu email" name="email" class="form-control" value= email)

                    .form-group 
                        label(for="mensaje") Mensaje
                        textarea#mensaje(class="form-control" name="mensaje" cols="30" rows="10" placeholder="Tu mensaje")= mensaje

                    input#btn.btn-success.btn-block(type="submit")

